# Environment setup
NODE_ENV=development
PORT=3000

# Database
# e.g., postgresql://USER:PASSWORD@HOST:PORT/DATABASE
DATABASE_URL=

# Authentication
# e.g., a long random string used to sign JWTs
JWT_SECRET=

# External Services
# e.g., http://localhost:8007
ML_SERVICE_URL=

# Google Gemini AI Key
GEMINI_API_KEY=

# Cloudinary Setup
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
